@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
  margin: 0 !important;
}
.header {
  margin-top: -4rem;
  width: 100%;
  height: 5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.116) 5px 5px 5px;
  display: flex;
  padding-top: 4.4rem;
  justify-content: space-between;
  position: fixed;
  z-index: 250;
}
.header_logo {
  padding-left: 1.5rem;
  width: 2rem;
  margin-top: -1.5rem;
}
.search {
  padding-right: 2rem;
  margin-top: -0.9rem;
}
.menu {
  color: #5a5554;
  margin-left: 15.3rem;
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1rem;
}
.menu a {
  text-decoration: none;
  font-weight: 700;
  color: #5a5554;
  padding-right: 0.9rem;
}

.menu a:hover,
.menu a:active {
  color: #54768b;
}

.main {
  margin: 3rem 11rem;
  margin-bottom: 7rem;
}
.slider {
  padding-top: 8rem;
  width: 100%;
  height: 30rem;
}
.overlay {
  padding-top: 8rem;
  width: 68rem;
  height: 22rem;
  background-color: #0e0d0da1;
  z-index: 90;
  border-radius: 0.5rem;
  position: absolute;
  cursor: pointer;
}

.slider img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-size: cover;
  object-fit: cover;
}
.front-title {
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 2rem;
  z-index: 200;
  margin-top: -13rem;
  padding: 3rem;
  position: relative;
}
.dot {
  position: relative;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(207, 204, 204, 0.596);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.9s ease;
  z-index: 200;
  cursor: pointer;
}
.slid-dot {
  text-align: right;
  margin-right: 5.7rem;
}
.categories {
  margin-top: 5rem;
}
.category-title {
  font-family: "M PLUS 1p", sans-serif;
  font-size: 1.2rem;
  border-bottom: solid 1.5px #5a55541f;
  padding-bottom: 1rem;
  font-weight: 700;
  color: #5a5554;
}
.category-title span {
  width: fit-content;
  border-bottom: #5a5554 1.5px solid;
  padding-bottom: 1rem;
}
.experiences {
  grid-area: experience;
}
.most-seen {
  grid-area: mostSeen;
}

.articles {
  display: grid;
  grid-template-areas: "experience experience mostSeen";
  grid-gap: 1.3rem;
}

.experiences {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.3rem;
}
.experiences a {
  text-decoration: none;
}
.experience {
  width: 15rem;
  height: 5rem;
  padding-top: 1rem;
}
.experience img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}
.title-experience {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  line-height: 1;
  padding-top: 0.3rem;
  padding-bottom: 0.7rem;
  color: #5a5554;
}
.detail-experience {
  font-family: "M PLUS 1p", sans-serif;
  color: #5a5554a8;
  font-size: 0.7rem;
}
.most-seen-experience {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0.2rem;
}
.img-most-seen {
  width: 4.5rem;
  height: 4.5rem;
}
.img-most-seen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.title-most-seen {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 0.8rem;
  color: #5a5554;
}
.details-most-seen {
  padding-left: 0.6rem;
}
.detail-most-seen {
  font-family: "M PLUS 1p", sans-serif;
  color: #5a5554a8;
  font-size: 0.7rem;
  padding-top: 1.2rem;
}
.pagination {
  margin-top: 1rem;
  width: 3.7rem;
  height: 1rem;
  border: solid 1px #5a55541f;
  padding: 0.5rem;
  color: #5a55548a;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 1px #aaaaaa;
  text-align: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.pagination a {
  text-decoration: none;
  color: #5a555480;
}
.pagination a:active,
.pagination a:hover {
  color: #5a5554;
}
.footer {
  padding-top: 7rem;
  width: 100%;
  height: 15rem;
  text-align: center;
  border-top: rgba(0, 0, 0, 0.123) 4px solid;
  color: #5a5554;
  background-color: rgba(0, 0, 0, 0.048);
  margin-bottom: 0;
  z-index: 500;
}
.footer-title {
  font-weight: 700;
  font-size: 3rem;
  font-family: "M PLUS 1p", sans-serif;
}
.social-media {
  font-size: 2rem;
}
.social-media a {
  text-decoration: none;
  color: #5a5554;
}
.social-media a:active,
.social-media a:hover {
  color: #54768b;
}
.active {
  background-color: rgba(255, 255, 255, 0.938);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-duration: 6s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.pagination-experience {
  display: inline-block;
  padding-top: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 22.5rem;
}

.pagination-experience a {
  color: #5a5554c9;
  text-decoration: none;
  transition: background-color 0.4s;
  padding: 0.4rem 0.8rem;
  border-radius: 100%;
}
.pagination-experience a.active {
  background-color: #54768b;
  color: #fff;
}
.pagination-experience a:hover:not(.active) {
  background-color: #54768b5e;
}
.search input[type="text"] {
  border: none;
  font-family: "M PLUS 1p", sans-serif;
  height: 2rem;
  width: 13rem;
  border-bottom: 1px rgba(0, 0, 0, 0.157) solid;
  outline: none;
}
.search input[type="text"]:checked,
.search input[type="text"]:hover,
.search input[type="text"]:active,
.search input[type="text"]:target {
  border-color: #54768b5e;
}

.search button {
  cursor: pointer;
  border: none;
}
.search i {
  color: #5a5554c9;
  font-size: 1rem;
  background-color: #fff;
}
.search i:hover {
  color: #54768be7;
}
.single-article {
  width: 41rem;
  padding-top: 9rem;
  padding-left: 14.3rem;
  font-family: sans-serif;
  color: #5a5554;
}
.single-article-title {
  font-weight: 700;
  font-size: 2rem;
}
.single-article-sub-title {
  margin-top: 0.6rem;
  text-align: center;
  color: #5a55548c;
}
.user-avatar {
  grid-area: user-avatar;
}
.follow-user {
  grid-area: follow-user;
}
.article-detail {
  grid-area: article-detail;
}
.user-name {
  grid-area: user-name;
}
.favorite-user {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 15rem;
  display: grid;
  grid-template-areas:
    "user-avatar user-name follow-user"
    "user-avatar article-detail article-detail";
}
.user-avatar {
  width: 4rem;
  height: 4rem;
  margin-top: -0.9rem;
}
.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.user-name {
  font-size: 0.8rem;
  color: #5a5554d7;
}
.follow-user {
  margin-top: -0.3rem;
  text-align: center;
  border: solid 1px #5a555491;
  padding: 0.3rem;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 4rem;
  height: 0.8rem;
  color: #5a5554d7;
}
.follow-user:hover {
  color: #54768b;
  border-color: #54768b;
}
.article-detail {
  font-size: 0.8rem;
  color: #5a55548c;
}
.single-article-front-image {
  width: 100%;
  height: 22rem;
  background-color: #54768b;
}
.single-article-front-image img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}
.single-article-text {
  margin-top: 2rem;
  text-justify: distribute;
  font-family: sans-serif;
  line-height: 1.7;
}
.tags {
  margin-top: 2rem;
}
.tags > div {
  display: inline-block;
  width: fit-content;
  height: 1rem;
  background-color: #e7e4e37a;
  padding: 0.7rem;
  text-align: center;
  margin-right: 0.4rem;
  border-radius: 0.3rem;
  font-family: sans-serif;
  font-size: 0.9rem;
}
.socio-share {
  z-index: 40;
  position: fixed;
  margin-left: -5rem;
}
.socio-share-icon a {
  text-decoration: none;
  color: #5a5554;
  font-size: 1.5rem;
}
.socio-share-icon a:hover {
  color: #54768b;
}
.favorite {
  text-align: center;
  color: #5a5554c0;
  padding: 1rem 0rem;
  margin-top: 1.5rem;
  font-family: sans-serif;
  font-size: 0.9rem;
  width: fit-content;
  border-top: solid 1px #5a555432;
  border-bottom: solid 1px #5a555432;
}
.like {
  margin-top: 0.5rem;
  font-size: 1.7rem;
}
.rate {
  margin: 0.5rem 0rem;
  padding-bottom: 1rem;
}
.like:hover {
  color: #54768b;
  cursor: pointer;
}
fieldset,
label {
  margin: 0;
  padding: 0;
}
body {
  margin: 20px;
}
h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before {
  content: "\f089";
  position: absolute;
}

.rating > label {
  font-size: 1.3rem;
  color: #ddd;
  float: right;
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #d4af37;
  cursor: pointer;
} /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  cursor: pointer;
}
.related-article {
  margin-top: 2rem;
  margin-left: -1.7rem;
}
.related-article-pagination {
  padding-top: 12rem;
}
.comment-box {
  width: 100%;
  height: 17rem;
  background-color: #f3f2f1e8;
  border-radius: 0.6rem;
  padding: 1.5rem;
}
.comment-box textarea {
  width: 95%;
  height: 7rem;
  outline: none;
  border: none;
  border-radius: 0.6rem;
  font-family: sans-serif;
  font-size: 1rem;
  color: #5a55549f;
  padding: 1rem;
  margin-bottom: 1rem;
}
.comment-box button {
  width: 7rem;
  height: 2.5rem;
  color: white;
  background-color: #5a5554;
  border-radius: 0.6rem;
  cursor: pointer;
}
