@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
body {
  margin: 0 !important;
}
.header {
  margin-top: -4rem;
  width: 100%;
  height: 5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.116) 5px 5px 5px;
  display: flex;
  padding-top: 4.4rem;
  justify-content: space-between;
  position: fixed;
  z-index: 250;
}
.header_logo {
  padding-left: 1.5rem;
  width: 2rem;
  margin-top: -1.5rem;
}
.search {
  padding-right: 2rem;
  margin-top: -0.9rem;
}
.menu {
  color: #5a5554;
  margin-left: 15.3rem;
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 1rem;
}
.menu a {
  text-decoration: none;
  font-weight: 700;
  color: #5a5554;
  padding-right: 0.9rem;
}

.menu a:hover,
.menu a:active {
  color: #54768b;
}

.main {
  margin: 3rem 11rem;
  margin-bottom: 7rem;
}
.slider {
  padding-top: 8rem;
  width: 100%;
  height: 30rem;
}
.overlay {
  padding-top: 8rem;
  width: 68rem;
  height: 22rem;
  background-color: #0e0d0da1;
  z-index: 90;
  border-radius: 0.5rem;
  position: absolute;
  cursor: pointer;
}

.slider img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-size: cover;
  object-fit: cover;
}
.front-title {
  color: #fff;
  font-weight: 500;
  font-family: sans-serif;
  font-size: 2rem;
  z-index: 200;
  margin-top: -13rem;
  padding: 3rem;
  position: relative;
}
.dot {
  position: relative;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(207, 204, 204, 0.596);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.9s ease;
  z-index: 200;
  cursor: pointer;
}
.slid-dot {
  text-align: right;
  margin-right: 5.7rem;
}
.categories {
  margin-top: 3rem;
}
.category-title {
  font-family: 'M PLUS 1p', sans-serif;
  font-size: 1.2rem;
  border-bottom: solid 1.5px #5a55541f;
  padding-bottom: 1rem;
  font-weight: 700;
  color: #5a5554;
}
.category-title span {
  width: fit-content;
  border-bottom: #5a5554 1.5px solid;
  padding-bottom: 1rem;
}
.experiences {
  grid-area: experience;
}
.most-seen {
  grid-area: mostSeen;
}

.articles {
  display: grid;
  grid-template-areas: 'experience experience mostSeen';
  grid-gap: 1.3rem;
}

.experiences {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 1.3rem;
}
.experiences a {
  text-decoration: none;
}
.experience {
  width: 15rem;
  height: 5rem;
  padding-top: 1rem;
}
.experience img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.4rem;
}
.title-experience {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 700;
  line-height: 1;
  padding-top: 0.3rem;
  padding-bottom: 0.7rem;
  color: #5a5554;
}
.detail-experience {
  font-family: 'M PLUS 1p', sans-serif;
  color: #5a5554a8;
  font-size: 0.7rem;
}
.most-seen-experience {
  padding-top: 1rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 0.2rem;
}
.img-most-seen {
  width: 4.5rem;
  height: 4.5rem;
}
.img-most-seen img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}
.title-most-seen {
  font-family: 'M PLUS 1p', sans-serif;
  font-weight: 700;
  line-height: 1;
  font-size: 0.8rem;
  color: #5a5554;
}
.details-most-seen {
  padding-left: 0.6rem;
}
.detail-most-seen {
  font-family: 'M PLUS 1p', sans-serif;
  color: #5a5554a8;
  font-size: 0.7rem;
  padding-top: 1.2rem;
}
.pagination {
  margin-top: 1rem;
  width: 3.7rem;
  height: 1rem;
  border: solid 1px #5a55541f;
  padding: 0.5rem;
  color: #5a55548a;
  border-radius: 0.4rem;
  box-shadow: 1px 1px 1px #aaaaaa;
  text-align: center;
  margin-bottom: 1.5rem;
  cursor: pointer;
}
.pagination a {
  text-decoration: none;
  color: #5a555480;
}
.pagination a:active,
.pagination a:hover {
  color: #5a5554;
}
.footer {
  padding-top: 7rem;
  width: 100%;
  height: 15rem;
  text-align: center;
  border-top: rgba(0, 0, 0, 0.123) 4px solid;
  color: #5a5554;
  background-color: rgba(0, 0, 0, 0.048);
  margin-bottom: 0;
}
.footer-title {
  font-weight: 700;
  font-size: 3rem;
  font-family: 'M PLUS 1p', sans-serif;
}
.social-media {
  font-size: 2rem;
}
.social-media a {
  text-decoration: none;
  color: #5a5554;
}
.social-media a:active,
.social-media a:hover {
  color: #54768b;
}
.active {
  background-color: rgba(255, 255, 255, 0.938);
}
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 6s;
  animation-name: fade;
  animation-duration: 6s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
.pagination-experience {
  display: inline-block;
  padding-top: 2rem;
  font-size: 1.5rem;
  cursor: pointer;
  margin-left: 22.5rem;
}

.pagination-experience a {
  color: #5a5554c9;
  text-decoration: none;
  transition: background-color 0.4s;
  padding: 0.4rem 0.8rem;
  border-radius: 100%;
}
.pagination-experience a.active {
  background-color: #54768b;
  color: #fff;
}
.pagination-experience a:hover:not(.active) {
  background-color: #54768b5e;
}
.search input[type='text'] {
  border: none;
  font-family: 'M PLUS 1p', sans-serif;
  height: 2rem;
  width: 13rem;
  border-bottom: 1px rgba(0, 0, 0, 0.157) solid;
  outline: none;
}
.search input[type='text']:checked,
.search input[type='text']:hover,
.search input[type='text']:active,
.search input[type='text']:target {
  border-color: #54768b5e;
}

.search button {
  cursor: pointer;
  border: none;
}
.search i {
  color: #5a5554c9;
  font-size: 1rem;
  background-color: #fff;
}
.search i:hover {
  color: #54768be7;
}
.single-article {
  width: 41rem;
  padding-top: 9rem;
  padding-left: 14.3rem;
  font-family: sans-serif;
  color: #5a5554;
}
.single-article-title {
  font-weight: 700;
  font-size: 2rem;
}
.single-article-sub-title {
  margin-top: 0.6rem;
  text-align: center;
  color: #5a55548c;
}
.user-avatar {
  grid-area: user-avatar;
}
.follow-user {
  grid-area: follow-user;
}
.article-detail {
  grid-area: article-detail;
}
.user-name {
  grid-area: user-name;
}
.favorite-user {
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 15rem;
  display: grid;
  grid-template-areas:
    'user-avatar user-name follow-user'
    'user-avatar article-detail article-detail';
}
.user-avatar {
  width: 4rem;
  height: 4rem;
  margin-top: -0.9rem;
}
.user-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.user-name {
  font-size: 0.8rem;
  color: #5a5554d7;
}
.follow-user {
  margin-top: -0.3rem;
  text-align: center;
  border: solid 1px #5a555491;
  padding: 0.3rem;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 4rem;
  height: 0.8rem;
  color: #5a5554d7;
}
.follow-user:hover {
  color: #54768b;
  border-color: #54768b;
}
.article-detail {
  font-size: 0.8rem;
  color: #5a55548c;
}
.single-article-front-image {
  width: 100%;
  height: 22rem;
  background-color: #54768b;
}
.single-article-front-image img {
  width: 100%;
  height: 100%;
  background-size: cover;
  object-fit: cover;
}
.single-article-text {
  text-align: justify;
  margin-top: 2rem;
  font-family: sans-serif;
  line-height: 1.7;
}
.tags {
  margin-top: 2rem;
}
.tags > div {
  display: inline-block;
  width: fit-content;
  height: 1rem;
  background-color: #e7e4e37a;
  padding: 0.7rem;
  text-align: center;
  margin-right: 0.4rem;
  border-radius: 0.3rem;
  font-family: sans-serif;
  font-size: 0.9rem;
}
.socio-share {
  position: fixed;
  margin-left: -5rem;
}
.socio-share-icon a {
  text-decoration: none;
  color: #5a5554;
  font-size: 1.5rem;
}
.socio-share-icon a:hover {
  color: #54768b;
}
.favorite {
  text-align: center;
  color: #5a5554c0;
  padding: 1rem 0rem;
  margin-top: 1.5rem;
  font-family: sans-serif;
  font-size: 0.9rem;
  width: fit-content;
  border-top: solid 1px #5a555432;
  border-bottom: solid 1px #5a555432;
}
.like {
  margin-top: 0.5rem;
  font-size: 1.7rem;
  transition: all 0.2s;
}
.rate {
  margin: 0.5rem 0rem;
  padding-bottom: 1rem;
}
.like:hover {
  color: #7e7573c0;
  cursor: pointer;
}
.like:focus {
  outline: none;
}
/* .like:focus::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
} */
.like:active {
  transform: scaleX(1.4) scaleY(1.6);
}
fieldset,
label {
  margin: 0;
  padding: 0;
}
body {
  margin: 20px;
}
h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating {
  border: none;
  float: left;
}

.rating > input {
  display: none;
}
.rating > label:before {
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: '\f005';
}

.rating > .half:before {
  content: '\f089';
  position: absolute;
}

.rating > label {
  font-size: 1.3rem;
  color: #ddd;
  float: right;
}


.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label {
  color: #d4af37;
  cursor: pointer;
} 

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label {
  cursor: pointer;
}
.related-article {
  margin-top: 2rem;
  margin-left: -1.7rem;
}
.related-article-pagination {
  padding-top: 12rem;
}
.comment-box {
  width: 100%;
  height: 17rem;
  background-color: #f3f2f1e8;
  border-radius: 0.6rem;
  padding: 1.5rem;
}
.comment-box textarea {
  width: 95%;
  height: 7rem;
  outline: none;
  border: none;
  border-radius: 0.6rem;
  font-family: sans-serif;
  font-size: 1rem;
  color: #5a55549f;
  padding: 1rem;
  margin-bottom: 1rem;
}
.comment-box button {
  width: 7rem;
  height: 2.5rem;
  color: white;
  background-color: #5a5554;
  border-radius: 0.6rem;
  cursor: pointer;
}
.comment-box button:hover {
  background-color: #54768b;
}
.commenter-avatar {
  grid-area: commenter-avatar;
  width: 4rem;
  height: 4rem;
  border-radius: 100%;
}
.commenter-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  margin-top: -0.9rem;
}
.commenter-details {
  grid-area: commenter-details;
  width: 100%;
}
.commenter-details span {
  color: #5a5554a2;
  font-size: 0.8rem;
}
.comment-posted {
  grid-area: comment-posted;
  width: 100%;
  height: 100%;
  text-align: justify;
  color: #5a5554d5;
  font-family: sans-serif;
  line-height: 1.5;
}
.favorite-comment {
  grid-area: favorite-comment;
  width: 100%;
  margin-top: 1.5rem;
}
.favorite-comment span {
  color: #5a5554a2;
  font-size: 0.7rem;
  margin-left: 0.7rem;
}
.favorite-comment span:hover {
  cursor: pointer;
  color: #54768b;
}
.favorite-comment i:hover {
  cursor: pointer;
  color: #54768b;
}
.comment-reply {
  margin-top: 2.3rem;
  display: grid;
  grid-template-columns: 5rem 28rem 6rem;
  grid-template-areas:
    'commenter-avatar commenter-details ............... '
    '...............  comment-posted  comment-posted '
    '............... comment-posted comment-posted '
    '............... favorite-comment ............... ';
  grid-column-gap: 1rem;
  padding-bottom: 1.5rem;
  border-bottom: #5a555425 1px solid;
}
.about-us {
  padding-top: 10rem;
  width: 45rem;
  padding-left: 12rem;
  font-family: sans-serif;
  color: #5a5554;
}
.about-title {
  text-align: center;
}
.about-title h1 {
  font-size: 2rem;
}
.about-title h4 {
  font-style: italic;
  color: #5a5554cb;
}
.celebrate {
  width: 15rem;
  padding-left: 14rem;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.celebrate img {
  width: 100%;
}
.welcome-word h4 {
  text-align: center;
}
.welcome-word span {
  font-style: italic;
  text-align: justify;
  line-height: 1.5;
  color: #5a5554cb;
}
.team {
  margin-top: 3rem;
  text-align: center;
}
.team-subtitle {
  font-family: sans-serif;
  font-size: 0.9rem;
  font-style: italic;
  color: #5a5554cb;
}
.founder-img {
  height: 7rem;
}
.founder-img img {
  height: 100%;
  width: 7rem;
  border-radius: 100%;
}
.founder-pagination a {
  text-decoration: none;
  color: #5a55545b;
  font-size: 2rem;
  font-weight: 100;
}
.prev {
  margin-left: -8rem;
  margin-top: -4rem;
  position: absolute;
  cursor: pointer;
}
.next {
  margin-left: 7.5rem;
  margin-top: -4rem;
  position: absolute;
  cursor: pointer;
}
.prev:hover,
.next:hover {
  color: #54768b;
}
.founder-description {
  color: #5a5554cb;
  font-family: sans-serif;
}
.founder-description {
  font-family: sans-serif;
  line-height: 1.5;
  font-size: 0.9rem;
}
.founder-details span {
  display: block;
  font-family: sans-serif;
}
.founder-function {
  color: #5a5554cb;
  padding-bottom: 1rem;
}
.founder-social-media {
  cursor: pointer;
}
.founder-social-media a {
  color: #5a5554cb;
  font-size: 1.2rem;
}
.founder-social-media a:hover {
  color: #54768b;
}
.founder-dot {
  padding-top: 1rem;
}
.founder-dot span:hover {
  color: #5a5554;
}
.dots {
  position: relative;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(207, 204, 204, 0.596);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.9s ease;
  z-index: 200;
  cursor: pointer;
}
.dots:hover {
  background-color: #5a5554;
}
.actives {
  background-color: #54768b;
}
.connected-user {
  right: 2rem;
  margin-top: 8rem;
  width: 7rem;
  height: 7rem;
  position: fixed;
  cursor: pointer;
}
.connected-user img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.authentication {
  margin-top: 8rem;
  position: fixed;
  right: 2.5rem;
  color: #5a5554;
}
.authentication a {
  text-decoration: none;
  color: #5a5554;
}
.login {
  margin-bottom: 1rem;
}
.login,
.sign-up {
  border-radius: 0.3rem;
  padding: 1rem;
  text-align: center;
  width: 4rem;
  height: 0.7rem;
  box-shadow: rgba(0, 0, 0, 0.116) 0px 0px 10px;
}
.login:hover,
.sign-up:hover {
  color: #54768b;
  box-shadow: #54768b70 0px 0px 10px;
  cursor: pointer;
}

.profile-page {
  padding-top: 7rem;
  width: 45rem;
  margin-left: 12rem;
  color: #5a5554;
}
.tab {
  text-align: center;
}
.tab button.active {
  color: #54768b;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 2s;
}
@-webkit-keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeEffect {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.tab button {
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}
.profile-tab {
  color: #5a5554;
  padding: 1rem 2rem 2rem;
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  width: 100%;
  height: fit-content;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.274);
}
.profile-tab span {
  display: block;
}
.profile-location {
  font-size: 1.3rem;
  padding-bottom: 0.5rem;
}
.profile-details {
  color: #5a55549a;
  font-size: 0.9rem;
}
.profile-bio {
  line-height: 1.3;
  text-align: justify;
}
.profile-skills skill {
  padding-right: 0.7rem;
  font-size: 0.9rem;
  color: #54768bc9;
  cursor: pointer;
}
.profile-skills skill:hover {
  color: #3c525f;
}
.my-experience {
  border-bottom: #5a55541c solid 1px;
  padding-bottom: 1rem;
}
.follow-me-on {
  margin-left: 14rem;
  width: 15rem;
  margin-top: 2rem;
  color: #5a5554d5;
  text-align: center;
  border-top: #5a555431 solid 1px;
  border-bottom: solid 1px #5a555431;
  padding-bottom: 1.5rem;
}
.follow-me-on a {
  padding-right: 0.5rem;
  font-size: 1.5rem;
  color: #5a5554ea;
}
.my-posts img {
  width: 100%;
  height: 16rem;
  object-fit: cover;
}
.profile-posts {
  padding-top: 2rem;
}
.profile-posts a {
  text-decoration: none;
}
.my-follower-img {
  grid-area: my-follower-img;
}
.my-follower-name {
  grid-area: my-follower-name;
}
.my-follower-follow-box {
  grid-area: my-follower-follow-box;
}

.my-followers {
  display: grid;
  grid-template-areas:
    'my-follower-img my-follower-name'
    'my-follower-img my-follower-follow-box';
  grid-template-columns: 6rem 6rem;
  height: 4rem;
  grid-gap: 1rem;
  padding: 2rem 0rem;
  border-bottom: #5a555431 solid 1px;
}
.my-followers img {
  margin-top: -1rem;
  width: 100%;
  height: 100%;
  border-radius: 100%;
}
.my-follower-follow-box {
  margin-top: -1.5rem;
  text-align: center;
  border: solid 1px #5a555491;
  padding: 0.3rem;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 4rem;
  height: 0.8rem;
  color: #5a5554d7;
}
.my-follower-follow-box:hover {
  color: #54768b;
  border-color: #54768b;
}
.my-followee-follow-box {
  margin-top: -1.5rem;
  text-align: center;
  border: solid 1px #5a555491;
  padding: 0.3rem;
  font-size: 0.8rem;
  border-radius: 0.4rem;
  cursor: pointer;
  width: 4rem;
  height: 0.8rem;
  background-color: #5a5554;
  color: #fff;
}
.my-followee-follow-box:hover {
  background-color: #2e424e;
  border-color: #54768b;
}

.carousel {
  margin-top: 2rem;
}

.carousel-cell {
  width: 20%;
  height: 13rem;
  border-radius: 5px;
  counter-increment: carousel-cell;
}
.carousel-cell img {
  width: 78%;
  height: 75%;
  object-fit: cover;
  border-radius: 0.4rem;
}

/* .carousel-cell.is-selected {
  background: #54768b10;
} */

.up-coming-event {
  margin-top: 4rem;
}
.title-carousel {
  width: 80%;
  font-family: 'M PLUS 1p', sans-serif;
  line-height: 1;
  padding-top: 0.3rem;
  padding-bottom: 0.7rem;
  color: #5a5554;
  font-size: 0.8rem;
}
.detail-carousel {
  font-family: 'M PLUS 1p', sans-serif;
  color: #5a5554a8;
  font-size: 0.6rem;
}
.statistics {
  margin-top: 5rem;
  width: 84%;
  height: 7rem;
  box-shadow: rgba(0, 0, 0, 0.116) 0px 0px 10px;
  color: #5a5554;
  font-family: sans-serif;

  padding-top: 2.5rem;
  padding-left: 7rem;
}
.statistics div {
  padding-right: 1rem;
  display: inline-block;
}
.number-activist {
  font-weight: 700;
  width: fit-content;
  font-size: x-large;
  border-right: #54768b 1px solid;
}
.title-activist {
  margin-top: 1rem;
  width: 6rem;
  margin-left: 1rem;
  line-height: 1.2;
  font-size: 0.8rem;
}

.peace-mission {
  grid-area: peace-mission;
  text-align: center;
}
.peace-vision {
  grid-area: peace-vision;
  text-align: center;
}

.vision-mission {
  margin-left: 13rem;
  line-height: 1.6;
  display: grid;
  grid-template-areas: ' peace-mission peace-vision';
  grid-column-gap: 4rem;
  margin-top: 2rem;
  color: #5a5554af;
  font-family: sans-serif;
  width: 40rem;
}
.auth-left-side {
  grid-area: auth-left-side;
  background-color: #395161;
}
.auth-right-side {
  grid-area: auth-right-side;
}
.auth-main {
  margin: 0;
  height: 51.25rem;
  display: grid;
  grid-template-areas: 'auth-left-side auth-right-side';
  grid-template-columns: 35% 65%;
  overflow: hidden;
}
.login-text {
  text-align: center;
  padding: 16.3rem 3rem;
  color: rgb(246, 243, 243);
  font-family: sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.login-text h1 {
  font-size: 2rem;
}
.login-text p {
  font-size: 1.2rem;
}
.login-text a {
  color: rgb(246, 243, 243);
}
.login-img {
  padding-top: 1rem;
  height: 20rem;
}

.login-img img {
  height: 100%;
  width: 100%;
}
.login-fom {
  color: #5a5554;
  height: 31rem;
  padding-top: 1rem;
  text-align: center;
}
.login-social-media {
  font-size: 2rem;
}
.login-social-media i {
  padding-right: 0.7rem;
}
.login-social-media i:hover {
  cursor: pointer;
}
.form-content {
  margin-top: 1rem;
  margin-left: 19rem;
  width: 20rem;
  height: 20rem;
}
.login-input {
  padding-top: 1rem;
}
.login-input input[type='email'],
input[type='password'] {
  width: 100%;
  outline: none;
  border: 0;
  border-bottom: 1px solid #5a55545b;
  height: 3rem;
  font-size: 1rem;
  color: #5a5554;
  background-color: #374e5c0e;
}
.login-input input[type='password'] {
  margin-top: 2rem;
}
.login-input input[type='checkbox'] {
  margin-left: -1rem;
}
.check-terms {
}
.check-terms a {
  text-decoration: none;
  color: #2e424e;
}
.label-email {
  position: absolute;
  left: 50.5rem;
  top: 31.5rem;
  font-size: 18px;
  font-weight: 200;
  color: #5a5554;
  transition: all 0.5s ease;
  pointer-events: none;
}
.label-password {
  position: absolute;
  left: 50.5rem;
  top: 36.5rem;
  font-size: 18px;
  font-weight: 200;
  color: #5a5554;
  transition: all 0.5s ease;
  pointer-events: none;
}
.login-input input[type='email']:focus ~ .label-email {
  position: absolute;
  content: ' ';
  height: 1px;
  top: 29.5rem;
  left: 50.5rem;
  transform: scaleX(0.9);
  color: #2e424e;
}
.login-input input[type='password']:focus ~ .label-password {
  position: absolute;
  content: ' ';
  height: 1px;
  top: 34.5rem;
  left: 50.5rem;
  transform: scaleX(0.9);
  color: #2e424e;
}
.login-input input[type='email']:focus {
  border-bottom: 1px solid #2e424e;
}
.login-input input[type='password']:focus {
  border-bottom: 1px solid #2e424e;
}
.login-input input[type='email']:valid ~ .label-email {
  opacity: 0;
}
.login-input input[type='password']:valid ~ .label-password {
  opacity: 0;
}
.login-input button {
  margin-top: 1rem;
  width: 100%;
  height: 2.5rem;
  color: rgb(246, 243, 243);
  font-family: 'Open Sans', sans-serif;
  background-color: #395161;
  font-size: 0.9rem;
}
.login-input button:hover,
button:active,
button:after {
  cursor: pointer;
  background-color: #395161df;
  outline: none;
}
.login-actions {
  margin-top: -6rem;
}
.login-actions span {
  display: block;
  padding-bottom: 1rem;
}
.login-actions a {
  text-decoration: none;
  color: #395161;
}
.backward {
  position: fixed;
  left: 1rem;
  top: 0.6rem;
  font-size: 1.8rem;
  color: rgb(187, 184, 184) !important;
  transition: all 0.5s ease;
  text-decoration: none;
}
.backward:hover {
  color: rgb(245, 240, 240) !important;
  cursor: pointer;
}
